<template>
  <div class="home container">
    <div class="row activity align-item">
      <section class="col-md-7">
        <h2 class="heading">You should:</h2>
        <div v-if="activity" class="description">{{ activity.activity }}</div>
        <div v-if="fetching" class="text-center m-5">
          <b-spinner variant="primary"></b-spinner>
        </div>
        <div class="actions-container">
          <primary-button
            v-if="fetching || !isInTheList"
            class="js-save"
            @click="saveActivity"
            block
            :disabled="fetching || error || !activity"
          >Save for later</primary-button>
          <div v-else class="message">
            <icon icon="check" class="text-success"></icon>&nbsp;Check it in your
            <router-link to="/my-list">list</router-link>
          </div>
        </div>
      </section>
      <section class="col-md-5">
        <h2 class="heading">Activity details:</h2>

        <div class="type">
          <form-select
            label="Type"
            v-model="form.type"
            :options="activityTypeOptions"
            :disabled="fetching"
          />
        </div>
        <div class="participants-count">
          <number-input
            label="Participants"
            v-model="form.participants"
            min="1"
            :formatter="formatParticipantsCount"
            :disabled="fetching"
          />
        </div>
        <div class="budget">
          <range-input
            :label="`Budget: ${budget}`"
            v-model="form.price"
            min="0"
            max="1"
            step="0.05"
            minLabel="free"
            maxLabel="expensive"
            :disabled="fetching"
          />
        </div>
        <div class="actions-container">
          <secondary-button
            block
            class="js-search"
            @click="searchActivity"
            :disabled="fetching"
          >Hit me with a new one</secondary-button>
        </div>
      </section>
    </div>
    <div v-if="error" class="alert alert-danger">{{ error }}</div>
  </div>
</template>

<script>
// @ is an alias to /src
import fetchActivity from '../api/bored'
import { price2budget, getBudgetRange } from '../utils/budget'
import { Activities } from '../store/activities'
import PrimaryButton from '../components/PrimaryButton'
import SecondaryButton from '../components/SecondaryButton'
import FormSelect from '../components/FormSelect'
import NumberInput from '../components/NumberInput'
import RangeInput from '../components/RangeInput'

const supportedActivityTypes = [
  'education',
  'recreational',
  'social',
  'diy',
  'charity',
  'cooking',
  'relaxation',
  'music',
  'busywork',
]

export default {
  name: 'home',
  components: {
    PrimaryButton,
    SecondaryButton,
    FormSelect,
    NumberInput,
    RangeInput,
  },
  data() {
    this.activities = new Activities()
    return {
      form: {
        type: supportedActivityTypes[0],
        price: '0',
        participants: '1',
      },
      fetching: true,
      error: '',
      activity: null,
      activityTypeOptions: supportedActivityTypes,
      forceRecompute: 1, // used to trigger field recompute
    }
  },
  computed: {
    budget() {
      const price = parseFloat(this.form.price)
      return price2budget(price)
    },
    isInTheList() {
      if (!this.forceRecompute) {
        return
      }

      if (!this.activity) {
        return false
      }
      return this.activities.has(this.activity.key)
    },
  },
  created() {
    this.handleFetchActivity()
  },
  methods: {
    formatParticipantsCount(inputValue) {
      const value = Number(inputValue)
      if (value > 0) {
        return value.toString()
      } else {
        return this.form.participants.toString()
      }
    },

    searchActivity() {
      const { type, participants, price } = this.form
      const params = {
        type,
        participants,
        price: getBudgetRange(this.budget),
      }
      this.handleFetchActivity(params)
    },

    saveActivity() {
      this.activities.add(this.activity)
      this.forceRecompute++
    },

    async handleFetchActivity(params = {}) {
      try {
        this.fetching = true
        this.error = ''
        const activity = await this.fetchWithRetries(params)
        this.activity = {
          ...activity,
          budget: price2budget(activity.price),
        }
        this.form = {
          type: activity.type,
          participants: activity.participants,
          price: activity.price,
        }
      } catch (err) {
        this.error = err.message
      } finally {
        this.fetching = false
      }
    },
    async fetchWithRetries(params) {
      /*
       * Note: Retry fetching if activity already in the list
       */
      const maxRetries = 3
      let attempt = 0
      let isInTheList = true
      let activity

      while (attempt < maxRetries && isInTheList) {
        attempt++
        activity = await fetchActivity(params)
        isInTheList = this.activities.has(activity.key)
      }
      return activity
    },
  },
}
</script>

<style lang="scss">
.heading {
  font-size: 18px;
}
.description {
  padding: 10px;
}

.activity.row {
  & > section {
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
}

.actions-container {
  margin: 15px 0;
}

@media (min-width: 768px) {
  .activity.row {
    padding-bottom: 80px;

    & > section {
      margin: 0;
    }
  }

  .actions-container {
    margin: 0 15px;
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;

    .message {
      padding: 7px 12px;
    }
  }
}
</style>
