<template>
  <div>
    <div v-if="items.length" class="activities">
      <div class="items-list">
        <div class="row head item d-none d-md-flex">
          <div class="col-md-1">#</div>
          <div class="col-md-5">Activity</div>
          <div class="col-md-3 text-center">Participants</div>
          <div class="col-md-2 text-center">Budget</div>
        </div>
        <div class="row item" v-for="(item, index) in items" :key="item.key">
          <div class="col-md-1 index">{{ index + 1 }}</div>
          <div class="col-md-5 title">
            <span class="d-md-none">{{ index + 1 }}.</span>
            {{ item.activity }}
          </div>
          <div class="col-md-3 participants">
            <span class="label d-md-none">Participants:</span>
            <div class="value">{{ item.participants }}</div>
          </div>
          <div class="col-md-2 budget">
            <span class="label d-md-none">Budget:</span>
            <div class="value">{{ item.budget }}</div>
          </div>
          <div class="col-md-1 actions">
            <button class="btn btn-link remove js-remove" @click="removeActivity(item.key)">
              <icon :icon="['far', 'trash-alt']"></icon>
              <span class="d-md-none">&nbsp;Remove</span>
            </button>
          </div>
        </div>
      </div>
      <primary-button block class="js-remove-all" @click="clearActivities">Clear all</primary-button>
    </div>
    <div v-else class="message">
      No activities saved.
      <router-link to="/">Search here.</router-link>
    </div>
  </div>
</template>

<script>
import PrimaryButton from '../components/PrimaryButton'
import { Activities } from '../store/activities'
export default {
  name: 'MyList',
  components: {
    PrimaryButton,
  },
  data() {
    this.activities = new Activities()
    const items = this.activities.getAll()
    return {
      items,
    }
  },

  methods: {
    removeActivity(key) {
      this.activities.remove(key)
      this.items = this.activities.getAll()
    },
    clearActivities() {
      this.activities.clear()
      this.items = []
    },
  },
}
</script>

<style lang="scss" scoped>
.items-list {
  .item {
    margin-bottom: 16px;
    padding: 8px;

    .remove.btn {
      position: relative;
      top: -6px;
    }

    .participants,
    .budget {
      text-align: center;
    }
  }
  .head.row {
    font-weight: bold;
  }
}

@media (max-width: 767px) {
  .items-list .item {
    position: relative;
    text-align: left;
    .value {
      float: right;
    }

    .index {
      display: none;
    }

    .title {
      font-weight: bold;
    }

    .title,
    .participants,
    .budget {
      text-align: left;
      margin-bottom: 8px;
    }

    .remove.btn {
      left: -12px;
    }
  }
}
</style>