<template>
  <div class="form-group">
    <label v-if="label" class="text-muted">{{ label }}</label>
    <b-form-select :value="value" :options="options" :disabled="disabled" @change="handleChange" />
  </div>
</template>

<script>
import { BFormSelect } from 'bootstrap-vue'

export default {
  name: 'form-select',
  components: { BFormSelect },
  props: {
    label: { type: String, default: '' },
    options: { type: Array, default: [] },
    disabled: { type: Boolean, default: false },
    value: { type: String },
  },
  methods: {
    handleChange(value) {
      this.$emit('input', value)
    },
  },
}
</script>