<template>
  <font-awesome-icon :icon="icon"></font-awesome-icon>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { faCheck } from '@fortawesome/free-solid-svg-icons'
import { faTrashAlt } from '@fortawesome/free-regular-svg-icons'
import { library } from '@fortawesome/fontawesome-svg-core'

library.add(faTrashAlt, faCheck)

export default {
  name: 'icon',
  components: {
    FontAwesomeIcon,
  },
  props: ['icon'],
}
</script>