<template>
  <div class="form-group">
    <label v-if="label" class="text-muted">{{ label }}</label>
    <b-form-input
      type="number"
      :disabled="disabled"
      :min="min"
      :max="max"
      :value="value"
      @input="handleInput"
      :number="true"
      :formatter="formatter"
    />
  </div>
</template>

<script>
import { BFormInput } from 'bootstrap-vue'

export default {
  name: 'number-input',
  components: {
    BFormInput,
  },
  props: {
    label: { type: String, defaul: '' },
    disabled: { type: Boolean, deafult: false },
    value: { type: [Number, String] },
    min: { type: [Number, String] },
    max: { type: [Number, String] },
    formatter: { type: Function },
  },
  methods: {
    handleInput(value) {
      this.$emit('input', value)
    },
  },
}
</script>