<template>
  <b-button @click="$emit('click')" variant="primary" :block="this.block">
    <slot />
  </b-button>
</template>

<script>
import { BButton } from 'bootstrap-vue'
export default {
  name: 'primary-button',
  components: {
    BButton,
  },
  props: {
    onClick: { type: Function, default: () => {} },
    block: { type: Boolean, default: false },
  },
}
</script>