<template>
  <div class="form-group">
    <label v-if="label" class="text-muted">{{ label }}</label>
    <b-form-input
      type="range"
      :min="min"
      :max="max"
      :step="step"
      :disabled="disabled"
      :value="value"
      @input="handleInput"
    />
    <div class="d-flex flex-row justify-content-between">
      <div class="text-muted" v-if="minLabel">{{ minLabel }}</div>
      <div class="text-muted" v-if="maxLabel">{{ maxLabel }}</div>
    </div>
  </div>
</template>

<script>
import { BFormInput } from 'bootstrap-vue'

export default {
  name: 'range-input',
  components: {
    BFormInput,
  },
  props: {
    label: { type: String, default: '' },
    min: { type: [Number, String], default: 0 },
    max: { type: [Number, String], default: 5 },
    step: { type: [Number, String], default: 1 },
    value: { type: [Number, String], deafult: 0 },
    minLabel: { type: String, default: '' },
    maxLabel: { type: String, default: '' },
    disabled: { type: Boolean, default: false },
  },
  methods: {
    handleInput(value) {
      this.$emit('input', value)
    },
  },
}
</script>