<template>
  <div id="app">
    <b-nav tabs>
      <b-nav-item to="/" exact exact-active-class="active">Activities</b-nav-item>
      <b-nav-item to="/my-list" variant="secondary" exact exact-active-class="active">My list</b-nav-item>
    </b-nav>
    <b-card no-body class="app-content">
      <b-card-body>
        <router-view />
      </b-card-body>
    </b-card>
  </div>
</template>

<style lang="scss">
@import './index.scss';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 90%;
  max-width: 600px;
  margin: 30px auto;
}

.card.app-content {
  border-top: 0;
  border-radius: 0 0 8px 8px;
  min-height: 300px;
}
</style>
